@import "tailwindcss";
 

@font-face {
        font-family: 'Roxborough';
        src: url('/Roxborough\ CF.ttf') format('opentype')
    }

@font-face {
        font-family: 'SKCuber';
        src: url('/SK\ Cuber\ Expanded\ Trial\ 400.ttf') format('opentype')
    }

    @font-face {
        font-family: 'Disket';
        src: url('/Disket-Mono-Regular.ttf') format('opentype')
    }

@font-face {
        font-family: 'IBMPlex';
        src: url('/IBMPlexMono-Regular.ttf') format('opentype')
    }

    @font-face {
        font-family: 'SKCuberOut';
        src: url('/SKCuber-ExpandedOutline.ttf') format('opentype')
    }


  .animatedLogo{
    animation: spin 4s linear infinite; 

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
  }


:root {
  --cursor-default: url('/cursor.png'), auto;
  --cursor-pointer: url('/pointerdark.png'), pointer;
}

[data-theme="dark"] {
  --cursor-default: url('/cursor.png'), auto;
  --cursor-pointer: url('/pointerlight.png'), pointer;
}

[data-theme="light"] {
  --cursor-default: url('/cursorblack.png'), auto;
  --cursor-pointer: url('/pointerdark.png'), pointer;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: var(--cursor-default);
    scroll-behavior: smooth;
}




::selection {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}


.rainbow {
  animation: rainbow 20s linear infinite;
}

.rainbow-hover:hover {
  animation: rainbow 20s linear infinite;
}

@keyframes rainbow {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}

.animate-star {
  animation: rotate 5s linear infinite;
}




 @keyframes scroll {
                    0% { transform: translateX(0); }
                    100% { transform: translateX(-50%); }
                }
                .animate-scroll {
                    animation: scroll 20s linear infinite;
                }



::-webkit-scrollbar {
  background-color: #000;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f2f2f;
}

